<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Колонка с информацией о компании -->
        <div class="col-md-4">
          <h5>Кофейня "Grit"</h5>
          <p>Официальный сайт компании "Grit"</p>
          <p>Время работы: 10:00 - 22:00</p>

        </div>
        
        <!-- Колонка с навигацией -->
        <div class="col-md-4">
          <h5>Навигация</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Главная</a></li>
            <li><a href="#" class="text-white">Напитки</a></li>
            <li><a href="#" class="text-white">Десерты</a></li>
          </ul>
        </div>
        
        <!-- Колонка с контактами -->
        <div class="col-md-4">
          <h5>Контакты</h5>
          <ul class="list-unstyled">
            <li>Телефон: +375 25 456 78 90</li>
            <li>Адрес: Улица Примерная, 123, Город, Страна</li>
          </ul>
        </div>
      </div>
      <hr class="bg-white">
      <div class="text-center">
        <p>&copy; 2024 ООО "Grit". Все права защищены.</p>
      </div>
    </div>
  </footer>
  