<div class="account-container">
      <div class="account-header">
        <h1>Личный кабинет</h1>
      </div>
    
      <div class="account-info">
        <div class="account-info-item">
          <label for="name">Имя:</label>
          <span *ngIf="!isEditing">{{ user.name }}</span>
          <input *ngIf="isEditing" type="text" [(ngModel)]="user.name" id="name">
        </div>
    
        <div class="account-info-item">
          <label for="login">Логин:</label>
          <span *ngIf="!isEditing">{{ user.login }}</span>
          <input *ngIf="isEditing" type="text" [(ngModel)]="user.login" id="login">
        </div>
    
        <div class="account-info-item">
          <label for="dateOfBirth">Дата рождения:</label>
          <span *ngIf="!isEditing">{{ user.dateOfBirth | date: 'dd.MM.yyyy' }}</span>
          <input 
          *ngIf="isEditing" 
          type="date" 
          [ngModel]="user.dateOfBirth | date:'yyyy-MM-dd'" 
          (ngModelChange)="user.dateOfBirth = $event">
        </div>
      </div>
  
      <div class="account-actions">
        <button  class="edit-btn" *ngIf="!isEditing" (click)="toggleEdit()">Редактировать</button>
        <button class="logout-btn" *ngIf="!isEditing" (click)="logout()">Выйти</button>
        <div class="btns" *ngIf="isEditing">
          <button class="save-btn" (click)="saveChanges()">Сохранить</button>
          <button class="cancel-btn" (click)="cancelEdit()">Отмена</button>
          <button class="delete-btn" (click)="deleteUser()">Удалить</button>
        </div>
      </div>
</div>
  